
 
.col-1{width: 5.55%

}
.col-2{
    width: 11.1%
}
.col-3{
    width: 16.65%
}
.col-4{width: 22.2%
    
    }
    .col-5{
        width: 27.75%
    }
    .col-6{
        width:33.3%
    }
    .col-7{width: 38.85%
        
        }
        .col-8{
            width: 44.4%
        }
        .col-9{
            width: 49.95%
        }
        .col-10{width: 55.5%
            
            }
            .col-11{
                width: 61.05%
            }
            .col-12{
                width: 66.6%
            }
            .col-13{width: 72.15%
                
                }
                .col-14{
                    width: 77.7%
                }
                .col-15{
                    width: 83.25%
                }
                .col-16{width: 88.8%
                    
                    }
                    .col-17{
                        width: 94.35%
                    }
                    .col-18{
                        width: 100%
                    }